#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-image: url(clock_2.png);
    background-size: 100%;
}
#hours, #mins, #sec {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hours{
    width: 1.3%;
    height: 21.5%;
    top: 29%;
    left: 49.4%;
}
#mins{
    width: 1.1%;
    height: 29%;
    top: 21%;
    left: 49.42%;
    opacity: .8;
}
#sec{
    width: 1%;
    height: 32.5%;
    top: 18%;
    left: 49.5%;
    opacity: .8;
}